.subscription-header-container {
  display: flex;
  display: -webkit-flex;
  padding: 15px;
}

.subscription-header-container .vertical-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subscription-header-container .horizontal-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.header-container {
  display: flex;
  display: -webkit-flex;
  padding: 30px 15px 7px 15px;
}

.info-and-price-container {
  display: flex;
  display: -webkit-flex;
  padding: 15px;
}

.info-and-price-container .horizontal-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.normal-text {
  margin: 0;
  display: flex;
  font-size: 15px;
  text-align: left;
  color: #ffffff;
}

.normal-text.right {
  display: flex;
  text-align: right;
}

.large-text {
  margin: 0 0 0 0;
  display: flex;
  font-size: 17px;
  text-align: left;
  color: #ffffff;
}

.large-text.right {
  text-align: right;
}

.separator {
  display: flex;
  height: 0.5px;
  background: #ffffff;
  opacity: 0.1;
}

.separator.with-padding {
  margin-left: 15px;
  margin-right: 15px;
}