.broadband-subscription-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background: #001d14;
}

.broadband-subscription-page .spinner-overlay {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #123456;
  opacity: 0.4;
  height: 300px;
}