.broadband-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
  background: #001d14;
}

.broadband-page .broadband-header-container {
  display: flex;
  height: 63px;
  background: #001d14;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.broadband-page .broadband-header {
  display: block;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}