.login-page {
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  background: #001d14;
}

.login-page .yousee-header {
  position: absolute;
  display: block;
  font-size: 120;
  text-align: center;
  color: #ffffff;
  right: 50%;
}

.button-green {
  position: absolute;
  display: block;
  font-size: 12;
  bottom: 100px;
  right: 50%;
  -webkit-transform: translate(50%,0);
  transform: translate(50%,0);
  -webkit-appearance: none;
  background: #3cb84d;
  color: #000000;
  padding: 10px;
  height: 30px;
  line-height: 30px;
  width: 236px;
  text-align: center;
  text-decoration: none;
}

.button-green.Tappable-active {
  background: #3cb84d66;
  color: #00000066;
  -webkit-transform: translate(50%, 1px);
  transform: translate(50%, 1px);
}